<!-- Footer -->
<footer class="bg-red-600 text-white p-6 mt-6">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div>
            <h4 class="font-bold">About Goods for You</h4>
            <ul>
                <li>About Us</li>
                <li>Official Blog</li>
                <li>Our Missions</li>
            </ul>
        </div>
        <div>
            <h4 class="font-bold">Customer Service</h4>
            <ul>
                <li>Contact Us</li>
                <li>FAQ</li>
                <li>Shipping & Delivery</li>
                <li>Return & Refund</li>
            </ul>
        </div>
        <div>
            <h4 class="font-bold">Payment</h4>
            <p>Visa, Mastercard, PayPal, etc.</p>
            <ul>
                <h4 class="font-bold">Logistics</h4>
                <p>Visa, Mastercard, PayPal, etc.</p>
            </ul>
        </div>
        <div>
            <h4 class="font-bold">Stay Connected</h4>
            <p>Follow us on social media</p>
        </div>
    </div>
</footer>