<!-- Footer -->
<footer class="bg-primary text-white p-6 mt-6">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div>
            <h4 class="font-bold">About Goods for You</h4>
            <li>About Us</li>
            <li>Official Blog</li>
            <li>Our Missions</li>
        </div>
        <div>
            <h4 class="font-bold">Customer Service</h4>
            <li>Contact Us</li>
            <li>FAQ</li>
            <li>Shipping & Delivery</li>
            <li>Return & Refund</li>
        </div>
        <div>
            <h4 class="font-bold">Payment</h4>
            <div class="flex space-x-2 items-center">
                <button class="text-primary flex items-center">
                    <img src="images/Icon/VisaIcon.svg" class="h-7 w-7" alt="visa icon">
                </button>
                <button class="text-primary flex items-center">
                    <img src="images/Icon/MasterCardIcon.svg" class="h-7 w-7" alt="Mastercard icon">
                </button>
                <button class="text-primary flex items-center">
                    <img src="images/Icon/Paypal App_Icon.svg" class="h-7 w-7" alt="Paypal icon">
                </button>
                <button class="text-primary flex items-center">
                    <img src="images/Icon/POS Terminal_Icon.svg" class="h-7 w-7" alt="POS icon">
                </button>
            </div>

            <ul>
                <h4 class="font-bold">Logistics</h4>
                <div class="flex space-x-2 items-center">
                    <button class="text-primary flex items-center">
                        <img src="images/Icon/SupplierIcon.svg" class="h-7 w-7" alt="SupplierIcon">
                    </button>
                    <button class="text-primary flex items-center">
                        <img src="images/Icon/DeliveryIcon.svg" class="h-7 w-7" alt="DeliveryIcon">
                    </button>
                    <button class="text-primary flex items-center">
                        <img src="images/Icon/Track Order_Icon.svg" class="h-7 w-7" alt="Track Order Icon">
                    </button>
                    <button class="text-primary flex items-center">
                        <img src="images/Icon/TrolleyIcon.svg" class="h-7 w-7" alt="TrolleyIcon">
                    </button>
                </div>
            </ul>
        </div>

        <div>
            <h4 class="font-bold">Stay Connected</h4>
            <li>Follow Us</li>
            <div class="flex space-x-2 items-center">
                <button class="text-primary flex items-center">
                    <img src="images/Icon/X_Icon.svg" class="h-7 w-7" alt="X_Icon">
                </button>
                <button class="text-primary flex items-center">
                    <img src="images/Icon/Facebook_Icon.svg" class="h-7 w-7" alt="Facebook_Icon">
                </button>
                <button class="text-primary flex items-center">
                    <img src="images/Icon/InstagramIcon.svg" class="h-7 w-7" alt="Instagram_Icon">
                </button>
                <button class="text-primary flex items-center">
                    <img src="images/Icon/YouTubeIcon.svg" class="h-7 w-7" alt="YouTubeIcon">
                </button>
                <button class="text-primary flex items-center">
                    <img src="images/Icon/Mail_Icon.svg" class="h-7 w-7" alt="Mail_Icon">
                </button>
            </div>
        </div>
    </div>
    <p>© 2025 Goods for You</p>
</footer>